@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=InaiMathi&family=Poppins&family=Roboto&family=Inter&display=swap');

$primary-color: #ff6b00;
$f-family: 'Crete Round', sans-serif;
$f-style: normal;
$f-weight: 500;
$black-bg: #1C1A19;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}

li {
    list-style: none;
}

.buttons {
    background: $primary-color;
    padding: 12px;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    letter-spacing: 0.03em;
    border-width: 0;
  }

header {
    background: #504f4e;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 600;

    menu {
        display: none;
    }

    span {
        font-weight: 800;
        font-size: 40px;
        color:white;
    }
  }
 
  .welcome_page {
    background-color: $black-bg;
    padding-top: 110px;
    padding-bottom: 110px;
    color: white;
    background-image: url(images/welcome_image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%;

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            color: $primary-color;
            font-family: $f-family;
            font-style: $f-style;
            font-weight: $f-weight;
            font-size: 60px;
            line-height: 65px;
        }
    
        h2{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            color: #fff5e1;
        }
    
        p {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
        }
    }

    ul {
        display: flex;
        gap: 20px;

        span {
            font-size: 27px;
            color:white;
        }
    }
  }

  .work-pages {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 100px;

    main {

        .work-item1 {
            display: flex;
            flex-direction: column;
            gap: 25px;

            h2 {
                font-family: $f-family;
                font-style: $f-style;
                font-weight: $f-weight;
                font-size: 48px;
                text-align: center;
            }

            div {
                width: 100%;
                border: 0.1px solid rgb(174, 172, 172);
            }
        }
        
        .work-item2 {
            padding-top: 70px;

            .picture {
                background-image: url(images/Math-magicians.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                height: 16.5rem;
            }

            .multi-stories {

                h3 {
                    font-family: $f-family;
                    font-style: $f-style;
                    font-weight: $f-weight;
                    font-size: 32px;
                    color: #091e42;
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-style: $f-style;
                    font-size: 16px;
                    color: #091e42;
                }

                ul {
                    padding: 0;
                    display: flex;
                    gap: 20px;

                    li {
                        border: 1px solid #8993a4;
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        color: #091e42;
                        padding: 8px 10px;
                    }
                }
            }
        }
    }

    .profession {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        li {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0.89;
            }

            h2 {
                position: relative;
                font-family: "Crete Round", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                color: #FFFFFF;
                padding: 15px;
                padding-top: 70px;
            }

            p {
                position: relative;
                padding: 0px 15px;
                font-family: "Inter", sans-serif;
                font-style: normal;
                font-size: 16px;
                color: white;
            }

            ul {
                padding: 0;
                padding: 0px 15px;
                display: flex;
                gap: 15px;

                li {
                    background: rgba(255, 255, 255, 0.24);
                    font-family: "Inter", sans-serif;
                    font-style: normal;
                    font-size: 15px;
                    color: white;
                    padding: 8px 10px;
                }
            }

            button {
                width: 100%;
                position: relative;
                margin-top: 20px;
            }
        }        
    }
  }

.about-me {
    background-color: #1C1A19;
    color: white;
    background-image: url(images/background\ image\ 2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%;
    padding: 0 15px;

    div {
        padding-top: 120px;
        padding-bottom: 160px;
        border-bottom: 2px solid grey;
        text-align: center;

        h2 {
            color: $primary-color;
            font-family: $f-family;
            font-style: $f-style;
            font-weight: $f-weight;
            font-size: 60px;
            line-height: 65px;
            
        }
    }

    
}