@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=InaiMathi&family=Poppins&family=Roboto&family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.headder {
  background: #3c3a39;
  display: flex;
  height: 70px;
  width: 100%;
  gap: 62%;
  align-items: center;
}

.menu-bar {
  display: none;
}

.icon {
  width: 80%;
}

.name {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  width: fit-content;
  text-decoration: none;
  font-size: 18px;
  margin-left: 5%;
}

.welcome_page {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-image: url(images/welcome_image.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}

.beginning-page {
  margin: 6%;
  margin-top: 25%;
  margin-bottom: 20%;
}

.welcome_message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.greeting {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 65px;
  color: #ff6b00;
}

.work {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
}

.service {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.welcome_page ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  height: 22px;
}

.work-pages {
  display: grid;
  width: 90%;
  margin: 5%;
  margin-top: 30%;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 20px;
  align-items: center;
}

.first-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line {
  height: 0;
  width: 100%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 0.02px solid #212121;
}

.work-pages .picture {
  background-image: url(images/Img\ Placeholder.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
}

.title-sect img {
  width: 20px;
  height: 20px;
}

.title-sect h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  display: none;
}

.work-pages main div h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  padding-top: 20px;
}

.profession2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-left: 24px;
  padding-top: 24px;
}

.profession1 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-left: 24px;
  padding-top: 24px;
}

.profession3 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-left: 24px;
  padding-top: 24px;
}

.profession4 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-left: 24px;
  padding-top: 24px;
}

.profession5 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-left: 24px;
  padding-top: 24px;
}

.profession6 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-left: 24px;
  padding-top: 24px;
}

.about-me p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-left: 5%;
  margin-bottom: 10%;
}

.contact-page p {
  padding-top: 30%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 720;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.last-sect p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.work-pages main div p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding-top: 7px;
}

.profession1 {
  list-style-type: none;
  background-image: url(images/profession1\ background.png);
  width: 100%;

  /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}

.profession1 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  padding-left: 24px;
  padding-top: 170px;
}

.list-tag {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  grid-row: 1;
  padding-top: 20px;
  padding-bottom: 15px;
}

.profession1 .list-tag {
  margin-left: 24px;
}

.tags {
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #091e42;
  text-align: center;
  padding: 10px 12px;
}

.profession1 .tags {
  color: #fff;
}

.profession1 button {
  width: 100%;
}

.profession2 {
  list-style-type: none;
  background-image: url(images/profession2\ background.png);
  width: 100%;

  /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}

.profession2 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  padding-left: 24px;
  padding-top: 170px;
}

.profession2 .list-tag {
  margin-left: 24px;
}

.profession2 .tags {
  color: #fff;
}

.profession2 button {
  width: 100%;
}

.profession3 {
  list-style-type: none;
  background-image: url(images/profession3\ background.png);
  width: 100%;

  /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}

.profession3 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  padding-left: 24px;
  padding-top: 170px;
}

.profession3 .list-tag {
  margin-left: 24px;
}

.profession3 .tags {
  color: #fff;
}

.profession3 button {
  width: 100%;
}

.profession4 {
  list-style-type: none;
  background-image: url(images/profession1\ background.png);
  width: 100%;

  /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}

.profession4 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  padding-left: 24px;
  padding-top: 170px;
}

.profession4 .list-tag {
  margin-left: 24px;
}

.profession4 .tags {
  color: #fff;
}

.profession4 button {
  width: 100%;
}

.profession5 {
  list-style-type: none;
  background-image: url(images/profession2\ background.png);
  width: 100%;

  /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}

.profession5 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  padding-left: 24px;
  padding-top: 170px;
}

.profession5 .list-tag {
  margin-left: 24px;
}

.profession5 .tags {
  color: #fff;
}

.profession5 button {
  width: 100%;
}

.profession6 {
  list-style-type: none;
  background-image: url(images/profession3\ background.png);
  width: 100%;

  /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}

/* .profession3:hover,
.profession2:hover,
.profession1:hover,
.profession4:hover,
.profession5:hover,
.profession6:hover {
  width: 80%;
  height: 80%;
} */

.profession6 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  padding-left: 24px;
  padding-top: 170px;
}

.profession6 .list-tag {
  margin-left: 24px;
}

.profession6 .tags {
  color: #fff;
}

.profession6 button {
  width: 100%;
}

.about-me {
  background-color: #1c1a19;
  background-image: url(images/background\ image\ 2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  margin-top: 40%;
}

.about-me h2 {
  width: 90%;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  color: #ff6b00;
  margin: 5%;
  padding-top: 35%;
}

.about-me button {
  margin-left: 5%;
  margin-bottom: 45%;
}

.technologies {
  background-color: #1c1a19;
  padding: 5%;
  padding-bottom: 30%;
}

.technologies .line2 {
  width: 432px;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40%;
}

.tech1 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
}

.language {
  display: flex;
  align-items: center;
  gap: 5%;
}

.technologies .tech div p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.mobile-menu__close img {
  width: 17px;
  cursor: pointer;
  user-select: none;
}

.last-buttons img {
  width: 15px;
}

.technologies .tech div img {
  width: 23px;
  height: 23px;
}

.language-sect ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.frameworks-sect ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.frameworks {
  display: flex;
  align-items: center;
  gap: 5%;
}

.skills-sect ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills {
  display: flex;
  align-items: center;
  gap: 5%;
}

.contact-page li {
  list-style-type: none;
}

.mobile-menu li {
  margin: 6%;
  padding: 10px;
  list-style-type: none;
  border-bottom: 1px solid #6f6c6b;
}

.technologies ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  color: #1c1a19;
  display: flex;
  align-items: center;
}

.buttons {
  background: #ff6b00;
  padding: 12px;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
  border-width: 0;
}

.buttons:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.buttons:active {
  background: #e05304;
  color: #f4f1f0;
}

.buttons:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.first-page button {
  width: 170px;
}

.other-pages {
  list-style-type: none;
}

.contact-page {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40%;
}

.contact-page form {
  width: 100%;
  margin-top: 20%;
}

.mobile-menu-container ul {
  margin: 2%;
}

.contact-page form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-page form ul li {
  width: 100%;
}

.contact-page form li input,
textarea {
  margin-bottom: 7%;
  border: none;
  width: 100%;
}

.contact-page form li input {
  height: 40px;
  border-bottom: 1px solid #dbd8d7;
}

.contact-page form textarea {
  background-color: #fbf8f7;
  height: 8rem;
  padding-top: 14px;
}

.social_media {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-left: 8px;
  padding-bottom: 35px;
  height: 22px;
  column-gap: 20px;
}

.bottom-social_media {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-left: 8px;
  padding-bottom: 35px;
  height: 22px;
  column-gap: 20px;
  border-top: 1px solid #dfe1e6;
}

.lastline {
  width: 10rem;
}

.links div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.mobile-menu-container {
  background: #3c3a39;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  width: 100%;
  height: calc(100% - 8%);
}

.mobile-menu__close {
  display: flex;
  justify-content: flex-end;
  padding: 5% 9%;
}

.mobile-menu a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.lastline2 {
  width: 10rem;
  left: calc(50% - 134px / 2 - 0.5px);
  position: absolute;
  top: calc(100vh - 15px);
}

.hidden {
  display: none;
}

.modal-section {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(151, 148, 147, 50%);
  backdrop-filter: blur(3px);
}

.modal-contents {
  margin: 3vh;
  height: 94vh;
  background-color: #fff;
}

.title-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5%;
}

.title-sect h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.modal-list-tag {
  list-style-type: none;
  display: flex;
  gap: 20px;
  width: 90%;
  padding: 7% 5% 0% 5%;
}

.modal-tags {
  border: 1px solid #8993a4;
  text-align: center;
  padding: 10px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
}

.second-sect {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.last-sect {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.last-buttons {
  display: flex;
  gap: 13px;
}

.hide {
  display: none;
}

@media only screen and (min-width: 786px) {
  .headder {
    width: 100%;
    justify-content: space-between;
    gap: 0%;
  }

  .icon {
    display: none;
  }

  .menu-bar {
    display: flex;
    width: 20%;
    padding: 0%;
    gap: 11px;
    align-items: center;
    margin-right: 7%;
  }

  .Message-icon {
    justify-self: center;
    width: 10%;
    height: 10%;
  }

  .welcome_page {
    background-image: url(images/Desktop\ Background.png);
    padding: 0%;
  }

  .greeting {
    font-size: 64px;
  }

  .work {
    font-size: 30px;
  }

  .service {
    font-size: 22px;
  }

  .beginning-page {
    margin-top: 15%;
    margin-bottom: 13%;
    display: flex;
    margin-left: 2px;
  }

  .welcome_message {
    width: 40%;
    order: 1;
  }

  .welcome_page ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 6rem;
  }

  .welcome_page ul li {
    width: 16px;
    height: 18px;
    padding-right: 4rem;
  }

  .work-item1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4%;
    margin-bottom: 4%;
  }

  .line {
    background-color: #212121;
    width: 70%;
    margin: 0;
    height: 0.1px;
    border: none;
  }

  .work-item2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }

  .work-pages .picture {
    max-width: 100%;
    min-height: 100%;
    background-image: url(images/Img\ Placeholder.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .multi-stories {
    width: 100%;
  }

  .work-pages {
    margin: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
  }

  .first-page {
    width: fit-content;
    grid-column: 1 / 4;
  }

  .contact-page p {
    display: flex;
    width: 50%;
    margin: 0%;
    padding: 0%;
    text-align: start;
    padding-bottom: 13%;
  }

  .about-me button {
    margin: 0%;
    margin-bottom: 5%;
  }

  .about-me h2 {
    margin: 0;
    padding: 0;
    width: 50%;
    margin-top: 3%;
    font-size: 62px;
  }

  .about-me p {
    margin: 0%;
    margin-bottom: 2%;
    width: 40%;
    font-size: 22px;
  }

  .profession1 {
    position: relative;
    list-style-type: none;
    background-image: url(images/profession1\ background.png);
    background-size: cover;
    height: 100%;
  }

  .profession1:hover p {
    display: none;
  }

  .title-sect h2 {
    display: none;
  }

  .profession1:hover h2 {
    display: none;
  }

  .profession1:hover .list-tag {
    display: none;
  }

  .profession1:hover .tags {
    display: none;
  }

  .profession1 button {
    display: none;
    position: absolute;
    bottom: 0;
  }

  .profession2 button {
    display: none;
    position: absolute;
    bottom: 0;
  }

  .profession3 button {
    display: none;
    position: absolute;
    bottom: 0;
  }

  .profession4 button {
    display: none;
    position: absolute;
    bottom: 0;
  }

  .profession5 button {
    display: none;
    position: absolute;
    bottom: 0;
  }

  .profession6 button {
    display: none;
    position: absolute;
    bottom: 0;
  }

  .profession1:hover button {
    display: block;
  }

  .profession2 {
    position: relative;
    list-style-type: none;
    background-image: url(images/profession2\ background.png);
    background-size: cover;
    height: 100%;
  }

  .profession2:hover p {
    display: none;
  }

  .profession2:hover h2 {
    display: none;
  }

  .profession2:hover .list-tag {
    display: none;
  }

  .profession2:hover .tags {
    display: none;
  }

  .profession2:hover button {
    display: block;
  }

  .profession3 {
    position: relative;
    list-style-type: none;
    background-image: url(images/profession3\ background.png);
    background-size: cover;
    height: 100%;
  }

  .profession3:hover p {
    display: none;
  }

  .profession3:hover h2 {
    display: none;
  }

  .profession3:hover .list-tag {
    display: none;
  }

  .profession3:hover .tags {
    display: none;
  }

  .profession3:hover button {
    display: block;
  }

  .profession4 {
    position: relative;
    list-style-type: none;
    background-image: url(images/profession1\ background.png);
    background-size: cover;
    height: 100%;
  }

  .profession4:hover p {
    display: none;
  }

  .profession4:hover h2 {
    display: none;
  }

  .profession4:hover .list-tag {
    display: none;
  }

  .profession4:hover .tags {
    display: none;
  }

  .profession4:hover button {
    display: block;
  }

  .profession5 {
    position: relative;
    list-style-type: none;
    background-image: url(images/profession2\ background.png);
    background-size: cover;
    height: 100%;
  }

  .profession5:hover p {
    display: none;
  }

  .profession5:hover h2 {
    display: none;
  }

  .profession5:hover .list-tag {
    display: none;
  }

  .profession5:hover .tags {
    display: none;
  }

  .profession5:hover button {
    display: block;
  }

  .profession6 {
    position: relative;
    list-style-type: none;
    background-image: url(images/profession3\ background.png);
    background-size: cover;
    height: 100%;
  }

  .profession6:hover p {
    display: none;
  }

  .profession6:hover h2 {
    display: none;
  }

  .profession6:hover .list-tag {
    display: none;
  }

  .profession6:hover .tags {
    display: none;
  }

  .profession6:hover button {
    display: block;
  }

  .about-me {
    min-height: fit-content;
    margin: 0;
    padding: 0;
    padding: 5%;
    background-image: url(images/about-me\ desktop\ background.png);
    background-position: right;
    background-size: 40%;
  }

  .technologies {
    margin: 0;
    padding: 0;
    padding: 5%;
    padding-top: 3%;
  }

  .technologies .line2 {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .tech {
    margin: 0%;
    padding: 0%;
    margin-top: 9%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
  }

  .tech1 {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }

  .language-sect {
    margin: 0%;
    padding: 0%;
  }

  .language {
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .language-sect ul li {
    margin: 0%;
    padding: 0%;
    padding-bottom: 3%;
    align-items: flex-start;
  }

  .tech2 {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }

  .frameworks-sect {
    margin: 0%;
    padding: 0%;
  }

  .frameworks {
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .frameworks-sect ul li {
    margin: 0%;
    padding: 0%;
    align-items: flex-start;
    padding-bottom: 3%;
  }

  .tech3 {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }

  .skills-sect {
    margin: 0%;
    padding: 0%;
  }

  .skills {
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .skills-sect ul li {
    margin: 0%;
    padding: 0%;
    align-items: flex-start;
    padding-bottom: 3%;
  }

  .contact-page {
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 8%;
    gap: 2%;
  }

  .contact-page form {
    margin: 0%;
  }

  .contact-page form ul {
    margin: 0%;
    padding: 0%;
    width: 100%;
    align-items: flex-start;
  }

  .contact-page form ul li {
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

  .contact-page form li input,
  textarea {
    margin-bottom: 2%;
    width: 100%;
  }

  .links div {
    display: none;
  }

  .modal-contents {
    margin: 14vh;
    height: 72vh;
    background-color: #fff;
  }

  .title-sect {
    padding: 2% 2% 0% 2%;
    width: 96%;
    margin: 0;
  }

  .title-sect h3 {
    display: flex;
  }

  .modal-list-tag {
    width: 96%;
    padding: 1% 2% 0% 2%;
  }

  .second-sect {
    padding: 2% 2% 0% 2%;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 18px;
  }

  .second-sect-img {
    width: 100%;
    height: 100%;
  }

  .image {
    width: 100%;
    height: 510px;
  }

  .last-sect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .last-buttons {
    position: relative;
  }
}
